<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JANANI SEVA</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <section id="header">
            <img src= "/static/images/maternity-care.png" class="'logo"  alt="img desc" width="50" height="50">
            <h3>JANANI SEVA</h3>
            <div>
                <ul id="navbar">
                    <div onclick = "window.location.href='/main';"> Home </div>
                </ul>
            </div>
        </section>

        <section id="pg-header">
            <h2>Know about your stage</h2>
            <p> Search for articles and read about changes to anticipate</p>
        </section>

        <section id="product1" class="section-p1">
            <div>
                <h1>Which stage are you in?</h1>
            </div>
            <div class="Pro-container">
                    <div class="pro" onclick = "window.location.href='/pre';">
                        <a href="article_1st.html"></a>
                        <img src="/static/images/3rdTri.jpg" alt="">
                        <div class="des">
                            <span>PRENATAL</span>
                        </div>
                    </div>
                    <div class="pro" onclick = "window.location.href='/post';">
                        <img src="/static/images/postpartum.jpg" alt="">
                        <div class="des">
                            <span>POST PARTUM</span>
                        </div>
                    </div>
            </div>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <h2>Sign up here!!</h2>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <h4> Contact</h4>
                <p><strong>Address: </strong> Mar Athanasius College </p>
                <p><strong>Phone: </strong> 123456789</p>
            </div>

            <div class="col">
                <h4> About</h4>
                <a href="#"> About us</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms and conditions</a>
                <a href="#"> Contact Us</a>
            </div>

            <div class="col">
                <h4> My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View cart</a>
                <a href="#"> My wishlist</a>
                <a href="#"> Track my order</a>
                <a href="#"> Help</a>
            </div>

        </footer>

        <script src="/static/js/script.js"></script>
    </body>
</html>