<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JANANI SEVA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <section id="header_first">
        <img src="/static/images/maternity-care.png" class="logo" alt="img desc" width="50" height="50">
        <div onclick = "window.location.href='/main';"> Home </div>
    </section>

    <div id="banner">
        <img src="/static/images/img1.jpg" alt="Banner Image">
        <br>
        <br>
        <br>
        <p>"It's okay not to be okay"</p>
        <br>

    </div>

    <section id="pg-header">
        <h2>JANANI SEVA</h2>
        <p>Navigating through the intricacies of motherhood </p>
    </section>

    <section id="product1" class="section-p1">
        <div class="Pro-container">
                <div class="pro" onclick = "window.location.href='/articles';">
                    <a href="article_1st.html"></a>
                    <img src="/static/images/img2.jpg" alt="">
                    <div class="des">
                        <span>Awarness Article</span>
                    </div>
                </div>

                <div class="pro" onclick = "window.location.href='/shop';">
                    <img src="/static/images/img3.jpg" alt="">
                    <div class="des">
                        <span>Shopping</span>
                    </div>
                </div>

                <div class="pro">
                    <img src="/static/images/img7.png" alt="">
                    <div class="des">
                        <span>E-Pharmacy</span>
                    </div>
                </div>

                <div class="pro">
                    <img src="/static/images/img4.webp" alt="">
                    <div class="des">
                        <span>Workshops and Online courses</span>
                    </div>
                </div>
                <div class="pro" onclick = "window.location.href='/custom';">
                    <img src="/static/images/img8.webp" alt="">
                    <div class="des">
                        <span>Customized health care plan</span>
                    </div>
                </div>
                <div class="pro">
                    <img src="/static/images/img5.avif" alt="">
                    <div class="des">
                        <span>Guidance Provider</span>
                    </div>
                </div>

                <div class="pro">
                    <img src="/static/images/img6.jpg" alt="">
                    <div class="des">
                        <span>Financial Aid</span>
                    </div>
                </div>

                <div class="pro">
                    <img src="/static/images/img9.jpg" alt="">
                    <div class="des">
                        <span>Online Support Groups</span>
                    </div>
                </div>               
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <h2>Sign up here!!</h2>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4> Contact</h4>
            <p><strong>Address: </strong> Mar Athanasius College </p>
            <p><strong>Phone: </strong> 123456789</p>
        </div>

        <div class="col">
            <h4> About</h4>
            <a href="#"> About us</a>
            <a href="#"> Privacy Policy</a>
            <a href="#"> Terms and conditions</a>
            <a href="#"> Contact Us</a>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>

   